<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.itfxq.business.order.mapper.OrderMapper">

	<sql id="whereSql">
		<where>
			<if test="username != null and username != ''">
				and u.username like concat('%',#{username},'%')
			</if>
			<if test="ordernum != null and ordernum != ''">
				and u.ordernum like concat('%',#{ordernum},'%')
			</if>

		</where>
	</sql>

	<select id="queryAll" resultType="Order">
		select * from t_orders
	</select>


	<!--分页-->
	<select id="queryTotal" parameterType="OrderQuery"
			resultType="java.lang.Long">
		select count(*)
		from t_orders u
		<include refid="whereSql"></include>
	</select>

	<select id="queryData" parameterType="OrderQuery" resultType="Order">
		select u.*
		from t_orders u
		<include refid="whereSql"></include>
		order by u.id desc
		limit #{offset},#{pageSize}
	</select>





</mapper>












